.wrap {
  display: flex;
  gap: 40px;
}

.leftBar {
  flex-basis: 60%;
}

.leftBarHeader {
  padding: 20px;

  h3 {
    font-size: 28px;
  }
}

.rightBarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  h3 {
    font-size: 28px;
  }
}

.price {
  padding: 3px 15px;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  background: #999;
  font-size: 20px;
}

.rightBar {
  flex-basis: 40%;
}

.leftBarContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 15px;
}

.pizzaItem {
  width: 140px;
  height: 140px;
  border: 1px #999 solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid;
  border-color: #999 #999 transparent #999;
}

.actions {
  padding: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-color: #999 #999 transparent #999;
}

.load {
  height: 70px;
  padding: 20px;
  border: 1px #999 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  height: 80px;
  border: 1px solid;
  border-color: #999 #999 transparent #999;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    text-align: center;
    width: 35px;
    padding: 5px;
  }
}


.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;

  input {
    height: 33px;
    outline: none;
    padding: 10px;

  }
}

.modalInput {
  display: flex;
  align-items: center;
  gap: 15px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  border: 1px #000 solid;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4;
  cursor: pointer;
  font-family: sans-serif;
}

.modalLoad {
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  min-height: 150px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalOverlayLoad {
  background: rgba(93, 91, 91, 0.52);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.checkoutModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;

  ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h2 {
    padding: 10px 0;
  }
}

.modalButtons {
  display: flex;
  gap: 25px;
}

.message {
  display: none;
  padding: 20px 0;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #028302;

}

.token{
  cursor: pointer;
}